@model CreateWhyChooseYummyDto

@{
    ViewData["Title"] = "CreateWhyChoose";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Why Choose Alan Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Başlık</label>
                            <input type="text" class="form-control" asp-for="Title" />
                            <label>Icon URL</label>
                            <input type="text" class="form-control" asp-for="IconUrl" />
                            <label>Açıklama</label>
                            <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3 btn-rounded">Ekle</button>
                                <a href="/WhyChooseYummy/WhyChooseYummyList/" class="btn btn-outline-danger btn-rounded mr-2">Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>