@model CreateMessageDto

<form asp-action="SendMessage" method="post" asp-controller="Message" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
    <div class="row gy-4">
        <div class="col-md-6">
            <input type="text" asp-for="NameSurname" class="form-control" placeholder="Adınız Soyadınız" required="">
        </div>
        <div class="col-md-6 ">
            <input type="email" asp-for="Email" class="form-control" placeholder="Mail Adresiniz" required="">
        </div>
        <div class="col-md-12">
            <input type="text" asp-for="Subject" class="form-control" placeholder="Konu" required="">
        </div>
        <div class="col-md-12">
            <textarea class="form-control" asp-for="MessageDetails" placeholder="Mesajınız" rows="6" required=""></textarea>
        </div>
        <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
            <button type="submit">Mesajı Gönder</button>
        </div>
    </div>
</form>