<section id="menu" class="menu section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Menümüz</h2>
        <p><span>LEZZETLİ TATLAR</span> <span class="description-title">UYGUN FİYATLAR</span></p>
    </div>
    <div class="container">

        @await Component.InvokeAsync("_DefaultMenuCategoryComponentPartial")

        @await Component.InvokeAsync("_DefaultMenuProductComponentPartial")

    </div>
</section>