@model List<ResultNotificationByIsReadFalseDto>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const colors = ['bg-primary', 'bg-success', 'bg-danger', 'bg-warning', 'bg-info', 'bg-secondary'];
        const elements = document.querySelectorAll('.notifColor');

        elements.forEach(el => {
            // Var olan bg-* sınıflarını temizler
            colors.forEach(c => el.classList.remove(c));

            // Rastgele renk seçer ve ekler
            const randomColor = colors[Math.floor(Math.random() * colors.length)];
            el.classList.add(randomColor);
        });
    });
</script>

<li class="dropdown dropdown-list-toggle">
    <a href="#" data-toggle="dropdown"
       class="nav-link notification-toggle nav-link-lg">
        <i data-feather="bell" class="bell"></i>
    </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
        <div class="dropdown-header">
            Bildirimler
            <div class="float-right">
                <a href="#">Hepsini Oku</a>
            </div>
        </div>
        <div class="dropdown-list-content dropdown-list-icons">
            @foreach (var item in Model)
            {
                <a href="#" class="dropdown-item dropdown-item-unread">
                    <span class="dropdown-item-icon notifColor text-white">
                        <i class="@item.IconUrl"></i>
                    </span> <span class="dropdown-item-desc">
                        @item.Description
                        <span class="time">@item.NotificationDate.ToString("dd/MM/yyyy HH:mm")</span>
                    </span>
                </a>
            }
        </div>
        <div class="dropdown-footer text-center">
            <a href="/Notification/NotificationList/">Hepsini Gör <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</li>