<footer id="footer" class="footer dark-background">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Adres</h4>
                    <p>Kadıköy Boğa Heykeli Karşısı</p>
                    <p>Kadıköy, İstanbul | 34100</p>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>İletişim</h4>
                    <p>
                        <strong>Telefon:</strong> <span>+90 987 654 3210</span><br>
                        <strong>Email:</strong> <span>yummy@yummy.com</span><br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Çalışma Saatlerimiz</h4>
                    <p>
                        <strong>Pazartesi - Cumartesi:</strong> <span>11.00 - 23.00</span><br>
                        <strong>Pazar</strong>: <span>Kapalı</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Bizi Takip Edin</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>Tüm Hakları Sakladır.</span></p>
        <div class="credits">
            Designed by <a href="https:https://github.com/zehraseren">Zehra Şeren</a>
        </div>
    </div>
</footer>