@model UpdateContactDto

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>İletişim Bilgisi Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="ContactId" />
                            <label>Harita Konumu</label>
                            <input type="text" class="form-control" asp-for="MapLocation" />
                            <label>Adres</label>
                            <input type="text" class="form-control" asp-for="Address" />
                            <label>Mail Adresi</label>
                            <input type="email" class="form-control" asp-for="Email" />
                            <label>Telefon Numarası</label>
                            <input type="tel" class="form-control" asp-for="PhoneNumber" />
                            <label>Açık Saatler</label>
                            <input type="text" class="form-control" asp-for="OpenHours" />
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3 btn-rounded">Güncelle</button>
                                <a href="/Contact/ContactList/" class="btn btn-outline-danger btn-rounded mr-2">İptal</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>