<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Yummy?</h3>
                    <p>
                        Yummy, sadece bir restoran değil; damakta iz bırakan bir deneyim. Taptaze malzemelerle, ustalıkla hazırlanan menümüz; her zevke hitap eden tatlarla dolu.
                        Sıcakkanlı ekibimizle kendinizi evinizde gibi hissedersiniz. Lezzetin olduğu yerde mutluluk vardır; biz de tam olarak bunu sunuyoruz. Yummy’yi seçenler sadece yemek yemiyor, keyifli anılar biriktiriyor.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Daha Fazla</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Kalori mi dedin, chill bizde</h4>
                            <p>Ne yediğini bil ama tadını da çıkar. Biz senin yerine analiz ettik zaten.</p>
                        </div>
                    </div>

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Gurme Tariflerle Sofrada Işıltı</h4>
                            <p>Sıradanlıktan uzak, özenle seçilmiş tariflerle sofranı taçlandır.</p>
                        </div>
                    </div>

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Kutudan Çıkan Lezzet Şoku</h4>
                            <p>Netflix aç, battaniyeyi kap… Yummy kutun yolda! Isıttığın anda dizi maratonuna hazırsın.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>