<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">

    @await Component.InvokeAsync("_ALNFormInlineComponentPartial")

    <ul class="navbar-nav navbar-right">

        @await Component.InvokeAsync("_ALNMessageListComponentPartial")

        @await Component.InvokeAsync("_ALNNotificationComponentPartial")

        @await Component.InvokeAsync("_ALNAccountMenuComponentPartial")

    </ul>
</nav>