@model List<ResultEventDto>

<section id="events" class="events section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                "loop": true,
                "speed": 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                },
                "breakpoints": {
                "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
                },
                "1200": {
                "slidesPerView": 3,
                "spaceBetween": 1
                }
                }
                }
            </script>
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(@item.ImageUrl)">
                        <h3>@item.Title</h3>
                        <div class="price align-self-start">@item.Price ₺</div>
                        <p class="description">@item.Description</p>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>