@model CreateCategoryDto

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategori Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Kategori Adı</label>
                            <input type="text" class="form-control" asp-for="CategoryName"/>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3 btn-rounded">Ekle</button>
                                <a href="/Category/Index/" class="btn btn-outline-danger btn-rounded mr-2">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
