<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin | API Project Camp</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/otika-bootstrap-admin-template/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/otika-bootstrap-admin-template/assets/css/style.css">
    <link rel="stylesheet" href="~/otika-bootstrap-admin-template/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/otika-bootstrap-admin-template/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/otika-bootstrap-admin-template/assets/img/favicon.ico' />
</head>